<div id='app'>
  <h1>To do</h1>
  <h2>Tasks
    <span>(Click on task to update and confirm by clicking the "Update" button)</span></h2>
  <ul>
    {{#each todos}}
      <li class='task'>
        <form method='POST' action='/{{_id}}/update'>
          <span class='taskitem'><span class='task'>{{task}}</span></span>
          <button>Update</button>
        </form>
        <form method='POST' action='/{{_id}}/delete'>
          <button>Delete</button>
        </form>
      </li>
    {{/each}}
  </ul>
  <form method='POST' action='/create-to-do-list-item'>
    <label for='item'>Insert new item:</label>
    <input id='item' type='text' name='task' placeholder='Insert new item' />
    <button>Add item</button>
  </form>
  <script>
    const tasks = document.getElementsByClassName('taskitem'); for (let i = 0; i
    < tasks.length; i++) { tasks[i].addEventListener('click', () => { const text
    = tasks[i].innerText; const input = document.createElement('input');
    input.name = 'task'; const oldChild = tasks[i].firstChild; if
    (oldChild.classList.contains('task')) { tasks[i].replaceChild(input,
    oldChild); } }) }
  </script>
</div>